{% extend 'base.html'%}
{% block content %}
<div class=""col-md-6 offset-md-3">
    {% if user.is_authenticated %}
    <h1>Hello World </h1>
    {% else %}
<h1>Login</h1>
<br\>
<form method="POST" action="{% url'home'%}>"
    {%csrf_token}
    
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="text" class="form-control"  name="first_name", placholder ="First Name" required >
          <br\>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control"  name=" password",placeholder ="Password" required >
          </div>
        <br\>
        <button type="submit" class="btn btn-secondary">login</button>
      </form>
<h1>HELLO WORLD!!!!</h1>
</div>
{% endif %}
{% endblock % }
